<link rel="stylesheet" href="/css/fileview.css" />

<div class="search-container">
  <input
    type="text"
    class="search-input"
    id="searchInput"
    placeholder="Search your Data..."
  />
  <button class="search-button">Search</button>
  <div class="csv-info" id="csv-info">Total rows: <%= length %></div>
</div>

<div>
  <table class="table" id="dataTable">
    <thead>
      <tr>
        <% headers.forEach(head => { %>
        <th><%= head %></th>
        <% }) %>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(row => { %>
      <tr>
        <% Object.keys(row).forEach(key => { %>
        <td><%= row[key] %></td>
        <% }) %>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<% if (totalPages > 1) { %>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <% if (currentPage > 1) { %>
    <li class="page-item">
      <a class="page-link" href="?page=<%= currentPage - 1 %>">Previous</a>
    </li>
    <% } else { %>
    <li class="page-item disabled">
      <a class="page-link">Previous</a>
    </li>
    <% } %> <% for (let i = 1; i <= totalPages; i++) { %>
    <li class="page-item <%= i === currentPage ? 'active' : '' %>">
      <a class="page-link" href="?page=<%= i %>"><%= i %></a>
    </li>
    <% } %> <% if (currentPage < totalPages) { %>
    <li class="page-item">
      <a class="page-link" href="?page=<%= currentPage + 1 %>">Next</a>
    </li>
    <% } else { %>
    <li class="page-item disabled">
      <a class="page-link">Next</a>
    </li>
    <% } %>
  </ul>
</nav>
<% } %>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const searchBtn = document.querySelector(".search-button");
    const searchInput = document.getElementById("searchInput");

    searchBtn.addEventListener("click", function () {
      const searchText = searchInput.value.trim().toLowerCase();

      let rows = document.querySelectorAll("#dataTable tbody tr");
      rows.forEach(function (row) {
        let cells = row.querySelectorAll("td");
        let found = false;
        cells.forEach(function (cell) {
          if (cell.textContent.toLowerCase().includes(searchText)) {
            found = true;
          }
        });
        if (found) {
          row.style.display = "";
        } else {
          row.style.display = "none";
        }
      });
    });
  });
</script>
