<div class="container">
  <h2>Choose Only Csv File To Upload</h2>
  <form action="/file/uploadfile" method="post" enctype="multipart/form-data">
    <input type="file" name="file" id="file-upload" required accept=".csv" />
    <button class="upload-btn">Upload File</button>
  </form>
  <h2>Files</h2>
  <% if(files.length == 0) { %>
  <div class="no-file">No file uploaded..</div>
  <% } else { %>

  <table class="file-list" id="file-list">
    <thead>
      <tr>
        <th>File Name</th>
        <th>Date</th>
        <th>Time</th>
        <th>View</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% files.forEach(file => { %>
      <tr>
        <td><%= file.file %></td>
        <td><%= file.createdAt.toLocaleDateString() %></td>
        <td><%= file.createdAt.toLocaleTimeString() %></td>
        <td>
          <a href="/file/view/<%= file._id %>"
            ><button class="btn btn-primary btn-sm">View File</button></a
          >
        </td>
        <td>
          <a href="/file/delete/<%= file._id %>"
            ><button class="btn btn-danger btn-sm">Delete File</button></a
          >
        </td>
      </tr>
      <% }); %>
      <!-- Add more rows here if needed -->
    </tbody>
  </table>
  <% } %>
</div>
